* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MarvelRegular";
  src: local("MarvelRegular"), url("./fonts/Marvel-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
